h1{
    font-family: 'Fontdiner Swanky', cursive;
    float: left;
    color: white;
}
h2{
    font-family: 'Quantico', sans-serif;
    text-align: center;
}

.questionHere{
  font-family: 'Quantico', sans-serif;
  text-align: center;
  font-size: 30px;
  background: orange;
  color: blue;
  border-radius: 15px;
  width:50%;
  margin: 0 auto;
}
#start{
    width:15%;
    font-family: 'Quantico', sans-serif;
    margin: 5px auto;
    font-size: 20px;
    display: block;
    text-align: center;
    border-width: 10px;
    border-color: orange;
    background-color: blue;
    color:white;
}
a{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-style:bold;
}

a:hover{
    background-color: lightyellow;
}

nav{
    padding: 5px;
    background-color: orange;
  }

  p{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    display: block;
    margin: 0 auto;
    text-align:center;
    color: black;
    width: 50%;

  }

  #ProgressBackground {
    width: 25%;
    background-color: blue;
    margin: 0 auto;
  }
  
  #Progress {
    width: 1%;
    height: 30px;
    background-color: lightgray;
  }

table{
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    width: 50%;
    text-align: center;
  }

  .answers {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-style:bold;
  }

form{
    display: block;
    margin: 0 auto;
  }